/*UNIVERSAL SELECTOR -- START*/
/**/
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**/
/*UNIVERSAL SELECTOR -- END*/



/*TYPE SELECTORS -- START*/
/**/


p {
    z-index: 2;
    color: white;
}

h1 {
    color: white;
}

img {
    height: 25%;
    width: 25%;
    
}

figcaption {
    color: white;
}
/**/
/*TYPE SELECTORS -- END*/



/*CLASS SELECTORS -- START*/
/**/
.background {
    height: 100%;
    background-image: url('/css/resources/landing_background.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.notoriety {
    background-color: rgba(0, 98, 255, 0.5);
}

.store {
    background-color: rgba(255,255,0, 0.5);
}

.sweatshirt1 {
    border: 3px solid red;
    text-align: center;
    padding-top: ;
}

/**/
/*CLASS SELECTORS -- END*/


/*ID SELECTORS -- START*/
/**/
#sweatshirt2

/**/
/*ID SELECTORS -- END*/




nav h1{
    color: black;
    font-weight:600;
    text-align: center;
    position: relative;
    display: block;
    top: 60px;
    width: 160px;
    height: 53px;
    margin: 0 auto;
    padding: 15px
    
}
