* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.notoriety {
    color: rgb(0, 98, 255);
}

.store {
    color: yellow;
}

html {
    height: 100%;
}
body {
    background-image: url('assets/landing_background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
}

